.full-height {
  height: 100vh;
}

.period {
  float: right;
}

.heading {
  padding-top: 25px;
  padding-bottom: 50px;
}

.organization {
  font-size: .85em;
  background-color: #313437;
  display: inline-block;
  color: white;
  padding: 2px 8px;
  border-radius: 2em;
}

